@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bungee&family=Londrina+Solid:wght@300&family=Oswald:wght@400;500&family=Sigmar+One&family=Trochut&family=Viga&display=swap');


.collagePhoto{
  max-width: 100%;
object-fit: fill;
margin: auto;
width: 100%;
height: auto;


}

.collagePhotoContainer{
  position: relative;
  text-align: center;
}

/* Second Large Photo on Home Page */

.secondcollagePhoto{
  max-width: 100%;
object-fit: fill;
margin: auto;
width: 100%;
height: auto;


}

.collagePhotoContainer{
  position: relative;
  text-align: center;
}


.homeButtonPhoto {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 30px !important;
    font-weight: bold !important;
font-family: 'Oswald', sans-serif !important;
text-transform: uppercase;
background-color: white !important;
color: black !important;
    
}



.homeButtonPhotoHeading{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  font-size: 65px !important;
  color: white;


}

.entireNavbar{
background-color: rgb(5, 5, 5);
color:white !important;
}

.navLocationBtn{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white !important;
}

.navBarItems{
color:white !important;
  font-size: 25px;
font-family: 'Oswald', sans-serif;
margin-right: auto;
margin-bottom: 2;
margin-left: large;
justify-content:end;
}

.nav-link{
  color:white !important;
}

.text-uppercase{
  color: white !important;
}

.mx-auto{
  color:white;
}

.FooterConnects{
  color: white;
}
.dropDownMenu{
  color:white !important;
  background-color: black !important;
  font-size: 20px;
justify-content: end;
font-family: 'Oswald', sans-serif;
padding-bottom: 10px;
padding-top: 10px;
}

.secondNav{
    color:rgb(12, 11, 11) !important;
  font-size: 25px;
font-family: 'Oswald', sans-serif;
margin-right: auto;
margin-bottom: 2;
margin-left: large;
justify-content:start;


}

.topIcons{
  padding: 15px;
  font-size: 25px;

}
/* Cards Section */

.selectionCards{
    text-align: center;
  margin-top: 16%;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
padding-left: 25px;
padding-right:25px;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: auto;
   min-height: auto;
   gap: 2%;
border: white;
}

 /* Product Card Section */

.ShoesHeading, .ClothingHeading{
     font-family: 'Oswald', sans-serif;
   font-size: 50px;
   margin-top: 10px;
   color:black;
   align-items: center;
   justify-content: center;
   text-align: center;

}

/* .row-cols{
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: blueviolet;

} */

/* .img-fluid{
    max-width: 100%;
  height: auto;
display: block;
    margin: auto;
    width: 100%;
  justify-content: space-between;
  
}

.mb-4-p-3{
  background-color: aquamarine;
} */
 
.BottomPhotos{
width: 100%;

}

.ClothingCards{
    text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
  padding: 5px 5px;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: auto;
   min-height: auto;
}

 .ShoesCards{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
  padding: 5px 5px;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: auto;
   min-height: auto;
 }

 .womensShoesHeading{
     font-family: 'Oswald', sans-serif;
   font-size: 50px;
   margin-top: 10px;
   color:black;
}

 .WomensShoesCards{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
  padding: 5px 5px;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: auto;
   min-height: auto;
 }

  .kidsShoesHeading{
     font-family: 'Oswald', sans-serif;
   font-size: 50px;
   margin-top: 10px;
   color:black;
}

 .KidsShoesCards{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
  padding: 5px 5px;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: auto;
   min-height: auto;
 }

 h5{
  font-family: 'Oswald', sans-serif;
 }

/* Footer */
.text-center-text-lg-start-text-muted{
background-color: black !important;
  font-family: 'Oswald', sans-serif;
}

#cardBtn{
  justify-content: center;
margin-bottom: 50%;
}