@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bungee&family=Londrina+Solid:wght@300&family=Oswald:wght@400;500&family=Sigmar+One&family=Trochut&family=Viga&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.inactive {
    color: #f5f2f2;
}

.inactive:hover {
    color: #fed136;
}

.searchBarArea{
  width: 100%;
  position: center;
  display: flex;
}


.collagePhoto{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    width: 100%;
    position: absolute;
}

.homeButtonPhoto {
margin: 0;
    position: relative;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: box-shadow 0.25s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1;
    min-height: 2.75rem;
    padding: 0.875rem 1.25rem;
    text-transform: uppercase;
   background-color: white !important;
   color:rgb(10, 10, 10) !important;
    padding: 15px;
    font-size: 30px !important;
    font-weight: bold !important;
    margin-top: 20%;
}

.dropDownMenu{
  color:white !important;
  background-color: black !important;
  font-size: 20px;
justify-content: end;
font-family: 'Oswald', sans-serif;
padding-bottom: 10px;
padding-top: 10px;
}


.homeButtonPhotoHeading{
font-family: 'Oswald', sans-serif;
        height: "100%";
        position: absolute;
        justify-content: center !important;
        text-align:center !important;
        color: white !important;
}

.secondNav{
  font-size: 30px;
  background-color: black !important;
  padding: 15px;
  color: white !important;
  font-family: 'Oswald', sans-serif;
}
/* Cards Section */

.selectionCards{
    text-align: center;
  margin-top: 13%;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
padding-left: 25px;
padding-right:25px;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: auto;
   min-height: auto;
   gap: 2%;
border: white;
}

/* Footer */
.text-center-text-lg-start-text-muted{
background-color: black !important;
  font-family: 'Oswald', sans-serif;
}